<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getCRUD</title>
</head>

<body>
    get crud from view


    <table>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% for(let i=0; i < dataTable.length; i++) { %>
            <tr>
                <td>
                    <%= dataTable[i].email %>
                </td>
                <td>
                    <%= dataTable[i].firstName %>
                </td>
                <td>
                    <%= dataTable[i].lastName %>
                </td>
                <td>
                    <%= dataTable[i].address %>
                </td>
                <td>
                    <a class="btn-edit" type="button">Edit</a>
                    <a class="btn-delete" type="button">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;

        }

        td,
        th {
            border: 1px solid #090909;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        td,
        th,
        tr {
            text-align: center;
        }

        .btn-edit,
        .btn-delete {
            outline: none;
            cursor: pointer;
            border: 1px solid orange;
        }

        .btn-edit {
            background-color: aquamarine;
        }

        .btn-delete {
            background-color: rgb(173, 78, 86);
        }
    </style>
</body>

</html>